name: Pipeline CI/CD Estructurado

on:
  push:
    branches: [ "main" ]

jobs:

  
  # ETAPA 1: TEST (Pruebas y Análisis Estático)
  
  test:
    name: 1. Test & Analyze 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Configurar PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: sqlite3, mbstring, xml
      
      - name: Instalar Dependencias
        run: composer update --no-interaction --prefer-dist

      - name: Generar Key y Entorno
        run: |
          cp .env.example .env
          php artisan key:generate

      - name: Crear Base de Datos
        run: |
          touch database/database.sqlite
          php artisan migrate --force

      - name: Ejecutar Pruebas (PHPUnit)
        env:
          DB_CONNECTION: sqlite
          DB_DATABASE: database/database.sqlite
        run: php artisan test

  
  # ETAPA 2: (Construcción y Seguridad)
  
  build:
    name: 2. Build & Scan 
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Construir Imagen
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/api-laravel:latest .

      - name: Escaneo de Seguridad (Trivy Scan)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '${{ secrets.DOCKER_USERNAME }}/api-laravel:latest'
          format: 'table'
          exit-code: '0'
          severity: 'CRITICAL,HIGH'

      - name: Subir Imagen (Push)
        run: docker push ${{ secrets.DOCKER_USERNAME }}/api-laravel:latest

  
  # ETAPA 3: DEPLOY 
  
  deploy:
    name: 3. Deploy (Ansible) 
    needs: build
    runs-on: ubuntu-latest
    steps:
      # 1. Descargar la API (Tu repositorio actual)
      - uses: actions/checkout@v4

      # 2. Descargar la Infraestructura usando el token
      - name: Descargar Infraestructura Externa
        uses: actions/checkout@v4
        with:
          repository: EliasRuizAncao/infraestructura-laravel-proyecto # <--- TU REPO CORRECTO
          token: ${{ secrets.GH_PAT }}       # <--- TU LLAVE MAESTRA
          path: infraestructura-laravel      # <--- CARPETA TEMPORAL

      - name: Instalar Ansible
        run: pip install ansible

      # FIX DE LA LLAVE: Usamos 'echo' para respetar el formato del secreto
      - name: Crear Llave SSH Temporal
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > key.pem
          chmod 600 key.pem

      - name: Ejecutar Playbook
        env:
          ANSIBLE_HOST_KEY_CHECKING: 'False'
        run: |
          ansible-playbook -i infraestructura-laravel/inventory \
          infraestructura-laravel/playbook.yml \
          --private-key key.pem \
          --extra-vars "docker_user=${{ secrets.DOCKER_USERNAME }}"